<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      >
    <body>
        <ui:composition>
            <h:dataTable styleClass="table table-striped"
                         value="#{booksTableController.list}" var="book">
                <h:column>
                    <f:facet name="header">Tytul</f:facet>
                            #{book.bookTitle}
                </h:column>
                <h:column>
                    <f:facet name="header">Data Wydania</f:facet>
                            #{book.bookReleaseDate}
                </h:column>
                <h:column>
                    <f:facet name="header">Autorzy</f:facet>
                    <ui:repeat value="#{book.authors}" var="autor">
                        <!--<h:outputText value="#{autor.authorName}" />-->
                    </ui:repeat>
                </h:column>                

            </h:dataTable>

        </ui:composition>
    </body>
</html>
