<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets">

    <h:body>
        <ui:composition template = "index.xhtml">

            <ui:define name = "content">
                <h:form>
                    <div class="row">
                        <div class="col-md-3">
                            Marka
                        </div>
                        <div class="col-md-3">
                            <h:inputText value="#{addCarController.brand}"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            Model
                        </div>
                        <div class="col-md-3">
                            <h:inputText value="#{addCarController.model}"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            Typ nadwozia
                        </div>
                        <div class="col-md-3">
                            <h:inputText value="#{addCarController.carType}"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            VIN
                        </div>
                        <div class="col-md-3">
                            <h:inputText value="#{addCarController.VIN}"/>
                        </div>
                    </div>      
                    <div class="row">
                        <div class="col-md-3">
                            Rok produkcji
                        </div>
                        <div class="col-md-3">
                            <h:inputText value="#{addCarController.year}"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            Numer OC
                        </div>
                        <div class="col-md-3">
                            <h:inputText value="#{addCarController.ocNumber}"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            Numer dowodu rejestracyjnego
                        </div>
                        <div class="col-md-3">
                            <h:inputText value="#{addCarController.registrationDocument}"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            Rodzaj paliwa
                        </div>
                        <div class="col-md-3">
                            <h:inputText value="#{addCarController.fuel}"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            Przebieg
                        </div>
                        <div class="col-md-3">
                            <h:inputText value="#{addCarController.mileage}"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            Moc silnika
                        </div>
                        <div class="col-md-3">
                            <h:inputText value="#{addCarController.power}"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            Pojemność silnika
                        </div>
                        <div class="col-md-3">
                            <h:inputText value="#{addCarController.capacity}"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            Rodzaj skrzyni biegów
                        </div>
                        <div class="col-md-3">
                            <h:inputText value="#{addCarController.transmission}"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            Cena
                        </div>
                        <div class="col-md-3">
                            <h:inputText value="#{addCarController.price}"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            Opis
                        </div>
                        <div class="col-md-3">
                            <h:inputText value="#{addCarController.description}"/>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-3">
                            Zapisz
                        </div>
                        <div class="col-md-3">
                            <h:commandButton action="#{addCarController.save}" value="Zapisz"/>
                        </div>
                    </div>
                </h:form>
            </ui:define>

        </ui:composition>

    </h:body>
</html>