<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets">

    <h:body>
        <ui:composition template = "index.xhtml">

            <ui:define name = "content">
                <h:form>                    
                    <div class="row">
                        <div class="col-md-3">
                            Login
                        </div>
                        <div class="col-md-3">
                            <h:inputText value="#{sessionMy.login}"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            Haslo
                        </div>
                        <div class="col-md-3">
                            <h:inputText value="#{sessionMy.password}"/>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-3">
                            Login
                        </div>
                        <div class="col-md-3">
                            <h:commandButton action="#{sessionMy.logIn()}" value="Logowanie"/>
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col-md-3">
                            Witaj:
                        </div>
                        <div class="col-md-3">
                            <h:outputText value="#{sessionMy.fullUserName}"/>
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col-md-3">
                            LogOut
                        </div>
                        <div class="col-md-3">
                            <h:commandButton action="#{sessionMy.logOut()}" value="Logowanie"/>
                        </div>
                    </div>

                </h:form>
            </ui:define>

        </ui:composition>

    </h:body>
</html>