<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <h:body>
        <ui:composition template = "index.xhtml">

            <ui:define name = "content">
                 <h:dataTable styleClass="table table-striped" value="#{carListController.list}" var="car">
                    <h:column>
                        <f:facet name="header">Foto</f:facet>
                        <img src="#{car.foto}" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail"/>
                             
                    </h:column>
                    <h:column>
                        <f:facet name="header">Marka</f:facet>
                            #{car.idModel.idBrand.name}
                    </h:column>
                    <h:column>
                        <f:facet name="header">Model</f:facet>
                            #{car.idModel.name}
                    </h:column>
                    <h:column>
                        <f:facet name="header">Rok</f:facet>
                            #{car.year}
                    </h:column>
                    <h:column>
                        <f:facet name="header">Przebieg</f:facet>
                            #{car.mileage}
                    </h:column>
                    <h:column>
                        <f:facet name="header">Rodzaj paliwa</f:facet>
                            #{car.fuel}
                    </h:column>
                    <h:column>
                        <f:facet name="header">Cena</f:facet>
                        <b> #{car.price} PLN</b>
                    </h:column>
                    <h:column>
                        <f:facet name="header">Szczegóły</f:facet>
                        <h:form>
                        <h:commandLink value="Edit"
                                       action="#{carListController.editCar(car)}" />
                        </h:form>
                    </h:column>
                </h:dataTable>
            </ui:define>

        </ui:composition>

    </h:body>
</html>